
*.idea
*.vs
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates


*.log

*.nupkg

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
*.dll
*.exe
*.app
*.so
*.dylib
*.pdb
*.mdb

*.global.json

# Visual Studio temporary files
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og*/


secrets.json


*.jfm


.idea/
*.sln.iml


*.publish.xml


publish/
wwwroot/


.vscode/
.history/


*.tmp
~$*
*.bak
